<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMBD0225ENSkillsNetwork25716109-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Introduction to DataFrames**

Estimated time needed: **15** minutes

![](http://spark.apache.org/images/spark-logo.png)

## Objectives

A DataFrame is two-dimensional. Columns can be of different data types. DataFrames accept many data inputs including series and other DataFrames. You can pass indexes (row labels) and columns (column labels). Indexes can be numbers, dates, or strings/tuples.

After completing this lab you will be able to:

*   Load a data file into a DataFrame
*   View the data schema of a DataFrame
*   Perform basic data manipulation
*   Aggregate data in a DataFrame

***

## Setup

For this lab, we are going to be using Python and Spark (PySpark). These libraries should be installed in your lab environment or in SN Labs.

Pandas is a popular data science package for Python. In this lab, we use Pandas to load a CSV file from disc to a pandas dataframe in memory. PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the spark context.

In [12]:
# Installing required packages
!pip install pyspark
!pip install findspark
!pip install pandas

Requirement already satisfied: pyspark in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: findspark in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: pandas in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /home/ozne-otsugua/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import findspark
findspark.init()

In [14]:
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

## Exercise 1 -  Spark session

In this exercise, you will create and initialize the Spark session needed to load the dataframes and operate on it

#### Task 1: Creating the spark session and context

In [15]:
# Creating a spark context class
sc = SparkContext()

# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at /tmp/ipykernel_82354/653474904.py:2

#### Task 2: Initialize Spark session

To work with dataframes we just need to verify that the spark session instance has been created.

In [ ]:
spark

## Exercise 2 - Load the data and Spark dataframe

In this section, you will first read the CSV file into a Pandas DataFrame and then read it into a Spark DataFrame.
Pandas is a library used for data manipulation and analysis. Pandas offers data structures and operations for creating and manipulating Data Series and DataFrame objects. Data can be imported from various data sources, e.g., Numpy arrays, Python dictionaries, and CSV files. Pandas allows you to manipulate, organize and display the data.
To create a Spark DataFrame we load an external DataFrame, called mtcars. This DataFrame includes 32 observations on 11 variables:

| colIndex | colName | units/description                        |
| :------: | :------ | :--------------------------------------- |
|   [, 1]  | mpg     | Miles per gallon                         |
|   [, 2]  | cyl     | Number of cylinders                      |
|   [, 3]  | disp    | Displacement (cu.in.)                    |
|   [, 4]  | hp      | Gross horsepower                         |
|   [, 5]  | drat    | Rear axle ratio                          |
|   [, 6]  | wt      | Weight (lb/1000)                         |
|   [, 7]  | qsec    | 1/4 mile time                            |
|   [, 8]  | vs      | V/S                                      |
|   [, 9]  | am      | Transmission (0 = automatic, 1 = manual) |
|   [,10]  | gear    | Number of forward gears                  |
|   [,11]  | carb    | Number of carburetors                    |

#### Task 1: Loading data into a Pandas DataFrame

In [ ]:
# Read the file using `read_csv` function in pandas
mtcars = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/mtcars.csv')

In [ ]:
# Preview a few records
mtcars.head()

#### Task 2: Loading data into a Spark DataFrame

In [ ]:
# We use the `createDataFrame` function to load the data into a spark dataframe
sdf = spark.createDataFrame(mtcars)

In [ ]:
# Let us look at the schema of the loaded spark dataframe
sdf.printSchema()

## Exercise 3: Basic data analysis and manipulation

In this section, we perform basic data analysis and manipulation. We start with previewing the data and then applying some filtering and columwise operations.

#### Task 1: Displays the content of the DataFrame

We use the `show()` method for this. Here we preview the first 5 records. Compare it to a similar `head()` function in Pandas.

In [ ]:
sdf.show(5)

We use the `select()` function to select a particular column of data. Here we show the `mpg` column.

In [ ]:
sdf.select('mpg').show(5)

#### Task 2: Filtering and Columnar operations

Filtering and Column operations are important to select relevant data and apply useful transformations.

We first filter to only retain rows with mpg > 18. We use the `filter()` function for this.

In [ ]:
sdf.filter(sdf['mpg'] < 18).show(5)

Operating on Columns

Spark also provides a number of functions that can be directly applied to columns for data processing and aggregation. The example below shows the use of basic arithmetic functions to convert the weight values from `lb` to `metric ton`.
We create a new column called `wtTon` that has the weight from the `wt` column converted to metric tons.

In [ ]:
sdf.withColumn('wtTon', sdf['wt'] * 0.45).show(5)

## Exercise 4: Grouping and Aggregation

Spark DataFrames support a number of commonly used functions to aggregate data after grouping. In this example we compute the average weight of cars by their cylinders as shown below.

In [ ]:
sdf.groupby(['cyl'])\
.agg({"wt": "AVG"})\
.show(5)

We can also sort the output from the aggregation to get the most common cars.

In [ ]:
car_counts = sdf.groupby(['cyl'])\
.agg({"wt": "count"})\
.sort("count(wt)", ascending=False)\
.show(5)

## Practice Questions

### Question 1 - DataFrame basics

Display the first 5 rows of all cars that have atleast 5 cylinders.

In [17]:
sdf.filter(sdf['cyl'] >= 5).show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|       Unnamed: 0| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|          Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

### Question 2 - DataFrame aggregation

Using the functions and tables shown above, print out the mean weight of a car in our database in metric tons.

In [21]:
sdf.withColumn('wtTon', sdf['wt'] * 0.45).withColumn('car name', sdf['Unnamed: 0']).groupby(['car name'])\
.agg({'wtTon':'AVG'})\
.show(5)

+-----------------+----------+
|         car name|avg(wtTon)|
+-----------------+----------+
|    Mazda RX4 Wag|   1.29375|
|        Mazda RX4|     1.179|
|        Merc 240D|    1.4355|
|       Duster 360|    1.6065|
|Hornet Sportabout|     1.548|
+-----------------+----------+
only showing top 5 rows

### Question 3 - DataFrame columnar operations

In the earlier sections of this notebook, we have created a new column called `wtTon` to indicate the weight in metric tons using a standard conversion formula. In this case we have applied this directly to the dataframe column `wt` as it is a linear operation (multiply by 0.45). Similarly, as part of this exercise, create a new column for mileage in `kmpl` (kilometer-per-liter) instead of `mpg`(miles-per-gallon) by using a conversion factor of 0.425.

Additionally sort the output in decreasing order of mileage in kmpl.

In [29]:
sdf.withColumn('kmpl', sdf['mpg'] * 0.425).orderBy(['kmpl'], descending = [True]).show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+------------------+
|         Unnamed: 0| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|              kmpl|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+------------------+
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|              4.42|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|              4.42|
|         Camaro Z28|13.3|  8|350.0|245|3.73| 3.84|15.41|  0|  0|   3|   4|            5.6525|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4| 6.077500000000001|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|            6.2475|
|      Maserati Bora|15.0|  8|301.0|335|3.54| 3.57| 14.6|  0|  1|   5|   8|             6.375|
|        AMC Javelin|15.2|  8|304.0|150|3.15|3.435| 17.3|  0|  0|   3|   2|              6.46|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|              6.46|
|   Dodge Challenger|15.5|  8|318.0|150|2.76| 3.52|16.87|  0|  0|   3|   2|6.5874999999999995|
|     Ford Pantera L|15.8|  8|351.0|264|4.22| 3.17| 14.5|  0|  1|   5|   4|             6.715|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3| 6.969999999999999|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|            7.3525|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|             7.565|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1| 7.692500000000001|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|            7.9475|
|   Pontiac Firebird|19.2|  8|400.0|175|3.08|3.845|17.05|  0|  0|   3|   2|              8.16|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|              8.16|
|       Ferrari Dino|19.7|  6|145.0|175|3.62| 2.77| 15.5|  0|  1|   5|   6| 8.372499999999999|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4| 8.924999999999999|
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4| 8.924999999999999|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+------------------+
only showing top 20 rows

Double-click **here** for a hint.

<!-- The hint is below:

1. Use the functions `withColumn()` to create a new column with a linear operation of an existing column. 
2. Use the `sort()` function to order results.

-->

Double-click **here** for the solution.

<!-- The answer is below:

sdf.withColumn('kmpl', sdf['mpg'] * 0.425).sort('mpg', ascending=False).show()
-->

## Authors

[Karthik Muthuraman](https://www.linkedin.com/in/karthik-muthuraman/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMBD0225ENSkillsNetwork25716109-2022-01-01)

### Other Contributors

[Jerome Nilmeier](https://github.com/nilmeier)

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description |
| ----------------- | ------- | ---------- | ------------------ |
| 2021-07-02        | 0.2     | Karthik    | Beta launch        |
| 2021-06-30        | 0.1     | Karthik    | First Draft        |

Copyright Â© 2021 IBM Corporation. All rights reserved.